In [1]:
import numpy as np
import pandas as pd
from ipysheet import from_dataframe, to_dataframe

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 26), index=dates, columns=list(chr(ord('A') + i) for i in range(26)))

sheet = from_dataframe(df)
sheet

Sheet(cells=(Cell(choice=[], column_end=0, column_start=0, row_end=5, row_start=0, squeeze_row=False, type='nu…

In [2]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([False, True, False, False], dtype='bool'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

df2.loc[[0, 2], ['B']] = np.nan

sheet2 = from_dataframe(df2)
sheet2

Sheet(cells=(Cell(choice=[], column_end=0, column_start=0, row_start=0, squeeze_row=False, type='numeric', val…

In [3]:
df3 = to_dataframe(sheet2)
df3

     A          B    C      D      E    F
0  1.0        NaT  1.0  False   test  foo
1  1.0 2013-01-02  1.0   True  train  foo
2  1.0        NaT  1.0  False   test  foo
3  1.0 2013-01-02  1.0  False  train  foo

In [5]:
from_dataframe(df)

Sheet(cells=(Cell(choice=[], column_end=0, column_start=0, row_end=5, row_start=0, squeeze_row=False, type='nu…

In [10]:
sheet2

Sheet(cells=(Cell(choice=[], column_end=0, column_start=0, row_start=0, squeeze_row=False, type='numeric', val…

In [11]:
sheet2

Sheet(cells=(Cell(choice=[], column_end=0, column_start=0, row_start=0, squeeze_row=False, type='numeric', val…

In [ ]:
import ipyaggrid